{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Upcoming Events</h2>
    {{if .Events}}
     <table>
        <tr>
            <th>Title</th>
            <th>Time</th>
            <th>ID</th>
        </tr>
        {{range .Events}}
        <tr>
            <td><a href='/event/{{.ID}}'>{{.Title}}</a></td>
            <td>{{humanDate .Time}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
